In [347]:
import pandas as pd
import numpy as np

## Load Data

In [348]:
df = pd.read_csv(r'C:\Users\Germán\Github\Proyecto2\data\vehiculos-de-segunda-mano-sample.csv')

In [349]:
df.head(1)

,vehicle_type,make,model,version,fuel,year,kms,power,doors,shift,color,photos,description,price,currency,location,publish_date,update_date,dealer_name,dealer_description,dealer_address,dealer_zip_code,dealer_city,dealer_country_code,dealer_is_professional,dealer_website,dealer_registered_at,date
0,car,Opel,Crossland,1.2 GAS 110 GS Line 5p S/S,Gasolina,2022,5.0,110.0,NaN,manual,NaN,10,"OFERTA EXCLUSIVA DE INTERNET \nNuevo Opel Crossland GSLINE 1.2 Turbo Gasolina 110cv manual de 6 velocidades.\nVehículo dotado del siguiente equipamiento:\nNUEVO A ESTRENAR, MATRICULADO EN FECHA 31.08.2022 \nFAROS ECOLED\nNAVEGADOR 5.0 INTELILINK\nPILOTOS TRASEROS LED\nCÁMARA DELANTERA (Alerta de Cambio Involuntario de Carril)\nPANTALLA INTELILLINK R4.0 7” CON APPLE CAR PLAY & ANDROID AUTO\nFRENOS DE DISCO DELANTEROS Y TRASEROS \nLLANTAS SPORT 17” COLO NEGRO DIAMANTE\nSENSOR APARCAMIENTO TRASERO\nKIT ANTIPINCHAZOS\nANCLAJES ISOFIX PLAZAS TRASERAS\nASIENTO AGR (ASIENTOS ERGONÓMICO)\nELEVALUNAS TRASEROS Y DELANTEROS ELÉCTRICOS\nCLIMATIZADOR DIGITAL BIZONA\nCONS",22900,EUR,Pineda de Mar,2023-02-04,2023-02-04,Sergio Y.,NaN,"2, Carrer de Jacint Benavente, Poblenou, Pineda de Mar, Maresme, Barcelona, Catalunya, 08397, España",8397.0,Pineda de Mar,ES,True,www.cocheauto.com,2017-01-18,2023-02-06

## Duplicados

In [350]:
# Eliminamos duplicados 
df = df.drop_duplicates()

In [351]:
print(df.shape)

(99763, 28)

In [352]:
#Mostrar nombres de cada columna en una lista
print(df.columns)

Index(['vehicle_type', 'make', 'model', 'version', 'fuel', 'year', 'kms',
       'power', 'doors', 'shift', 'color', 'photos', 'description', 'price',
       'currency', 'location', 'publish_date', 'update_date', 'dealer_name',
       'dealer_description', 'dealer_address', 'dealer_zip_code',
       'dealer_city', 'dealer_country_code', 'dealer_is_professional',
       'dealer_website', 'dealer_registered_at', 'date'],
      dtype='object')

Drop columns

In [353]:
#Drop 'vehicle_type','doors','color','photos', 'description','currency','update_date','dealer_description','dealer_address', 'dealer_zip_code','dealer_is_professional','dealer_city', 'dealer_country_code','dealer_website','dealer_registered_at', 'date'
df = df.drop(['dealer_name','vehicle_type','doors','color','photos', 'description','currency','update_date','dealer_description','dealer_address','dealer_is_professional','dealer_city', 'dealer_country_code','dealer_website','dealer_registered_at', 'date'], axis=1)

## Nulls

In [368]:
#Mostramos los nulos en porcetaje con relacion al total por cada fila 
df.isnull().sum()/df.shape[0]*100

make               0.000000
model              0.000000
version            0.000000
fuel               0.000000
year               0.000000
kms                0.000000
power              0.000000
shift              0.000000
price              0.000000
location           0.000000
publish_date       0.000000
dealer_zip_code    0.093121
dtype: float64

In [354]:
#Drop nuls de "verion", kms, power,dealer_name
df = df.dropna(subset=['version', 'kms'])

### Fuel nulls

In [288]:
# Ajustar las opciones de visualización de pandas
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)
 
# Mostrar el resultado completo
df[df['fuel'].isnull()][['make','model']].value_counts()

make           model
Toyota         C-HR                  489
Mazda          2                     128
Toyota         Corolla               118
CUPRA          Leon                  117
Lexus          UX                    110
Ford           Puma                  109
Lexus          ES                     98
Toyota         Yaris                  90
               Auris                  80
KIA            Niro                   79
Fiat           500                    79
Lexus          NX                     70
KIA            Ceed                   68
               Sportage               67
Hyundai        IONIQ                  65
Alfa Romeo     Tonale                 64
Honda          Insight                56
Renault        Arkana                 50
BMW            X7                     50
Lexus          RC                     48
Citroen        C5 X                   44
               C3                     38
Lexus          RX                     37
BMW            Serie 4                36
Hyundai        Tucson                 29
SEAT           Leon                   26
Lexus          IS                     23
Dacia          Jogger                 22
Lexus          GS                     17
BMW            i3                     17
Abarth         695                    16
Bentley        Flying Spur            16
Nissan         Qashqai                15
Daihatsu       Terios                 15
Renault        Twizy                  14
Fiat           Panda                  13
Honda          Jazz                   12
Ford           Tourneo Custom         12
Mazda          CX-30                  12
Volkswagen     Golf                   11
Mitsubishi     Outlander              11
Ford           Fiesta                 10
Toyota         Camry                   9
Mazda          3                       9
Ford           Kuga                    9
Volkswagen     Caddy                   9
Toyota         iQ                      9
Audi           RS6                     9
Hyundai        Kona                    8
Porsche        718 Cayman              8
Subaru         XV                      8
Porsche        Boxster                 8
Nissan         Townstar                8
Land Rover     Range Rover Evoque      8
Mercedes-Benz  Classe X                8
               GLE Coupé               8
Jaguar         XJ                      8
               S-Type                  8
Audi           RS3                     8
BMW            Serie 8                 8
               X6 M                    8
               X5 M                    8
Audi           Q8                      8
Cadillac       CTS                     8
Chevrolet      Tahoe                   8
Cadillac       Seville                 8
Abarth         Punto Evo               8
Skoda          Octavia                 8
Renault        Clio                    8
Volvo          V90                     8
Hyundai        Accent                  8
               i20                     8
Ford           Mondeo Vignale          8
Fiat           Barchetta               8
Ferrari        LaFerrari               8
Dodge          Caliber                 8
Citroen        Xsara                   8
Nissan         Pixo                    7
Porsche        Panamera                7
Peugeot        406                     7
Mitsubishi     3000 GT                 7
Hyundai        Elantra                 7
MG             ZS                      7
KIA            Stonic                  7
               XCeed                   7
MINI           Roadster                7
Skoda          Kamiq                   7
Lotus          Esprit                  7
Hummer         H2                      7
Chevrolet      Camaro                  7
Subaru         Legacy                  7
Citroen        Berlingo                6
Chevrolet      Cruze                   6
Abarth         595                     6
Opel           Tigra                   6
Tata           Indigo                  6
Volvo          XC60                    6
Porsche        718 Boxster             6
Peugeot        308                     6
Mercedes-Benz  Clase G                 6
Audi           A3                      5
Citroen        C4                      5
Hyundai        Getz                    5
Mercedes-Benz  SLK                     5
KIA            Rio                     5
Citroen        C2                      5
Chevrolet      Kalos                   5
BMW            X6                      5
Volkswagen     Touareg                 5
               Golf Plus               5
BMW            Serie 6                 4
               Serie 3                 4
Abarth         500                     4
Mercedes-Benz  Clase A                 4
Peugeot        3008                    4
Porsche        Cayman                  4
               911                     4
BMW            Serie 5                 4
Mercedes-Benz  Viano                   4
Opel           Corsa                   4
Peugeot        307                     4
Mercedes-Benz  Clase CLS               4
Rover          45                      4
Peugeot        207                     3
Audi           RS4                     3
BMW            X5                      3
Toyota         Yaris Cross             3
Mitsubishi     Eclipse Cross           3
Porsche        Cayenne                 3
Opel           Astra                   3
Dacia          Duster                  3
Land Rover     Range Rover Sport       3
Audi           Q7                      2
BMW            Serie 7                 2
Volvo          XC40                    2
Citroen        C3 Picasso              2
BMW            X1                      2
Citroen        C5                      2
Hyundai        i10                     2
Citroen        Nemo                    2
DS             7 CROSSBACK             2
Lancia         Musa                    2
Honda          CR-V                    2
Ford           C-MAX                   2
               Focus                   2
               Fusion                  2
Hyundai        Atos                    2
Honda          CR-Z                    2
Hyundai        Coupe                   2
Dacia          Lodgy                   2
Volkswagen     Golf Sportsvan          2
Toyota         MR2                     2
Jeep           Wrangler                2
Lexus          CT                      2
Volkswagen     T-Cross                 2
               Polo                    2
Mercedes-Benz  GLA                     2
Renault        Laguna                  2
Chevrolet      Aveo                    1
Citroen        C4 Picasso              1
Hyundai        Matrix                  1
Mercedes-Benz  Vito                    1
Peugeot        107                     1
Suzuki         Vitara                  1
Renault        Twingo                  1
SEAT           Ibiza                   1
Name: count, dtype: int64

In [248]:
#Del total de valores de toyotas c-hr cuantos son nulos
df[(df['make']=='Toyota') & (df['model']=='C-HR')]['fuel'].isnull().sum()/df[(df['make']=='Toyota') & (df['model']=='C-HR')].shape[0]*100

np.float64(72.98507462686568)

In [249]:
df[(df['make'] == 'Toyota') & (df['model'] == 'C-HR')]['fuel'].value_counts()

fuel
Eléctrico    143
Gasolina      36
Otros          2
Name: count, dtype: int64

In [289]:
#mostrar cuantos valores nulos de los de toyota C-HR  
df[(df['make'] == 'Toyota') & (df['model'] == 'C-HR')]['fuel'].isnull().sum()

np.int64(489)

In [290]:
# Calcular el valor más frecuente de fuel para cada modelo de coche
mode_fuel_by_model = df.groupby('model')['fuel'].agg(lambda x: x.mode()[0] if not x.mode().empty else None)

# Función para rellenar los valores nulos
def fill_fuel(row):
    if pd.isnull(row['fuel']):
        return mode_fuel_by_model[row['model']]
    return row['fuel']

# Aplicar la función para rellenar los valores nulos
df['fuel'] = df.apply(fill_fuel, axis=1)

In [252]:
# Mostrar que gasoina usa la marca toyota modelo C-HR
df[(df['make'] == 'Toyota') & (df['model'] == 'C-HR')]['fuel'].value_counts()

fuel
Eléctrico    632
Gasolina      36
Otros          2
Name: count, dtype: int64

In [253]:
df[(df['make'] == 'Toyota') & (df['model'] == 'C-HR')]['fuel'].isnull().sum()

np.int64(0)

In [293]:
# Ajustar las opciones de visualización de pandas
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)
 
# Mostrar el resultado completo
df[df['fuel'].isnull()][['make','model']].value_counts()

Series([], Name: count, dtype: int64)

In [292]:
#Rellenar los modelos con Gasolina 
modelos = "LaFerrari","Indigo","Esprit"
df.loc[df['model'].isin(modelos), 'fuel'] = 'Gasolina'

### Power Nulls

In [294]:
median_power_by_model = df.groupby('model')['power'].median()

def fill_power(row):
    if pd.isnull(row['power']):
        return median_power_by_model[row['model']]
    return row['power']

# Aplicar la función para rellenar los valores nulos
df['power'] = df.apply(fill_power, axis=1)

In [295]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)
 
df[df['power'].isnull()][['make','model']].value_counts()

make     model
Citroen  ë-Jumpy    8
Name: count, dtype: int64

In [296]:
#Rellenamos citroen e-jumpy con 100
df.loc[(df['make'] == 'Citroen') & (df['model'] == 'ë-Jumpy'), 'power'] = 100

### Shift Nulls

In [297]:
# Calcular el valor más frecuente de fuel para cada modelo de coche
mode_shift_by_model = df.groupby('model')['shift'].agg(lambda x: x.mode()[0] if not x.mode().empty else None)

# Función para rellenar los valores nulos
def fill_shift(row):
    if pd.isnull(row['shift']):
        return mode_shift_by_model[row['model']]
    return row['shift']

# Aplicar la función para rellenar los valores nulos
df['shift'] = df.apply(fill_shift, axis=1)

In [298]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)
 
df[df['shift'].isnull()][['make','model']].value_counts()

make   model
Lotus  Esprit    7
Name: count, dtype: int64

In [299]:
#Rellenamos Lotus Esprit con manual
df.loc[(df['make'] == 'Lotus') & (df['model'] == 'Esprit'), 'shift'] = "manual"

----------------

In [356]:
#Lista de variables a rellenar
variables = ['fuel', 'power', 'shift']
 
# Función para calcular la moda o mediana por modelo
def calculate_stat_by_model(df, var):
    if var == 'power':
        return df.groupby('model')[var].transform(lambda x: x.median() if not pd.isna(x.median()) else None)
    else:
        return df.groupby('model')[var].transform(lambda x: x.mode()[0] if not x.mode().empty else None)
 
# Función para rellenar los valores nulos
def fill_missing_values(df, var):
    stat_by_model = calculate_stat_by_model(df, var)
    df[var] = df[var].fillna(stat_by_model)
    return df
 
# Aplicar la función para cada variable
for var in variables:
    df = fill_missing_values(df, var)

c:\Users\Germán\AppData\Local\Programs\Python\Python312\Lib\site-packages\numpy\lib\_nanfunctions_impl.py:1231: RuntimeWarning: Mean of empty slice
  return np.nanmean(a, axis, out=out, keepdims=keepdims)

In [361]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)
 
# Mostrar el resultado completo para 'shift'
shift_nulls = df[df['shift'].isnull()][['make', 'model']].value_counts()
print("Shift Nulls:")
print(shift_nulls)

# Mostrar el resultado completo para 'power'
power_nulls = df[df['power'].isnull()][['make', 'model']].value_counts()
print("\nPower Nulls:")
print(power_nulls)

# Mostrar el resultado completo para 'fuel'
fuel_nulls = df[df['fuel'].isnull()][['make', 'model']].value_counts()
print("\nFuel Nulls:")
print(fuel_nulls)

Shift Nulls:
Series([], Name: count, dtype: int64)

Power Nulls:
Series([], Name: count, dtype: int64)

Fuel Nulls:
Series([], Name: count, dtype: int64)

In [358]:
#Rellenamos citroen e-jumpy con 100
df.loc[(df['make'] == 'Citroen') & (df['model'] == 'ë-Jumpy'), 'power'] = 100

In [359]:
#Rellenamos Lotus Esprit con manual
df.loc[(df['make'] == 'Lotus') & (df['model'] == 'Esprit'), 'shift'] = "manual"

In [360]:
modelos = "LaFerrari","Indigo","Esprit"
df.loc[df['model'].isin(modelos), 'fuel'] = 'Gasolina'

### Zip code

In [367]:
df[df['dealer_zip_code']=='Parque Empresarial San Fernando de Henares'].fillna('28830')
df[df['dealer_zip_code']=='Collado Villalba'].fillna('28400')
df[df['dealer_zip_code']=='Elx/Elche'].fillna('03203')

Empty DataFrame
Columns: [make, model, version, fuel, year, kms, power, shift, price, location, publish_date, dealer_zip_code]
Index: []

# Dtypes

In [364]:
df.dtypes

make                       object
model                      object
version                    object
fuel                       object
year                        int64
kms                       float64
power                     float64
shift                      object
price                       int64
location                   object
publish_date       datetime64[ns]
dealer_zip_code           float64
dtype: object

In [363]:
#Publish date to datetime
df['publish_date'] = pd.to_datetime(df['publish_date'])

# Getting location latitud and longitude

In [371]:
from geopy.geocoders import Nominatim
import pandas as pd
import time

df_prueba = df[df["location"]=="Sabadell"]
# Crear el geocodificador
geolocator = Nominatim(user_agent="my_app")

def get_lat_long(row):
    # Construir la consulta con código postal y ciudad
    query = f"{row['dealer_zip_code']}, {row['location']}, España"
    
    try:
        # Añadir un pequeño delay para respetar los límites de la API
        time.sleep(1)
        location = geolocator.geocode(query)
        
        if location:
            return pd.Series({'latitude': location.latitude, 'longitude': location.longitude})
        else:
            return pd.Series({'latitude': None, 'longitude': None})
            
    except Exception as e:
        print(f"Error con la consulta {query}: {str(e)}")
        return pd.Series({'latitude': None, 'longitude': None})

# Aplicar la función a todo el DataFrame y crear las nuevas columnas
df_prueba[['latitude', 'longitude']] = df_prueba.apply(get_lat_long, axis=1)

# Guardar el DataFrame actualizado
df_prueba.to_csv('datos_con_coordenadas.csv', index=False)  # o df.to_excel('datos_con_coordenadas.xlsx')

# Mostrar las primeras filas para verificar
print(df_prueba.head())

# Mostrar un resumen de cuántas coordenadas se obtuvieron exitosamente
print("\nResumen:")
print(f"Total de filas: {len(df_prueba)}")
print(f"Coordenadas obtenidas: {df_prueba['latitude'].notna().sum()}")
print(f"Coordenadas faltantes: {df_prueba['latitude'].isna().sum()}")

KeyboardInterrupt:

In [372]:
# Crear el geocodificador con un user_agent único
geolocator = Nominatim(user_agent="my_unique_app")
 
# Ejemplo de uso: obtener la ubicación de una dirección
location = geolocator.geocode("1600 Amphitheatre Parkway, Mountain View, CA")
print(location.address)
print((location.latitude, location.longitude))

Google Building 41, 1600, Amphitheatre Parkway, Mountain View, Santa Clara County, California, 94043, United States
(37.42248575, -122.08558456613565)