In [1]:
import pandas as pd

In [4]:
df = pd.read_csv(r'C:\Users\Germán\Github\Proyecto2\data\vehiculos-de-segunda-mano-sample.csv')

In [5]:
df.head(1)

,vehicle_type,make,model,version,fuel,year,kms,power,doors,shift,...,dealer_name,dealer_description,dealer_address,dealer_zip_code,dealer_city,dealer_country_code,dealer_is_professional,dealer_website,dealer_registered_at,date
0,car,Opel,Crossland,1.2 GAS 110 GS Line 5p S/S,Gasolina,2022,5.0,110.0,NaN,manual,...,Sergio Y.,NaN,"2, Carrer de Jacint Benavente, Poblenou, Pined...",8397.0,Pineda de Mar,ES,True,www.cocheauto.com,2017-01-18,2023-02-06

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 28 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   vehicle_type            100000 non-null  object
 1   make                    100000 non-null  object
 2   model                   100000 non-null  object
 3   version                 99842 non-null   object
 4   fuel                    96810 non-null   object
 5   year                    100000 non-null  int64
 6   kms                     99189 non-null   float64
 7   power                   99709 non-null   float64
 8   doors                   0 non-null       float64
 9   shift                   98982 non-null   object
 10  color                   0 non-null       float64
 11  photos                  100000 non-null  int64
 12  description             55810 non-null   object
 13  price                   100000 non-null  int64
 14  currency                100000 non-null  object
 15  location                100000 non-null  object
 16  publish_date            100000 non-null  object
 17  update_date             100000 non-null  object
 18  dealer_name             99908 non-null   object
 19  dealer_description      81558 non-null   object
 20  dealer_address          99908 non-null   object
 21  dealer_zip_code         99908 non-null   float64
 22  dealer_city             99908 non-null   object
 23  dealer_country_code     100000 non-null  object
 24  dealer_is_professional  100000 non-null  bool
 25  dealer_website          79913 non-null   object
 26  dealer_registered_at    99908 non-null   object
 27  date                    100000 non-null  object
dtypes: bool(1), float64(5), int64(3), object(19)
memory usage: 20.7+ MB

### Duplicados

In [7]:
# Eliminamos duplicados 
df = df.drop_duplicates()

In [9]:
print(df.shape)

(99763, 28)

### Nulls

In [13]:
#Mostramos los nulos en porcetaje con relacion al total por cada fila 
df.isnull().sum()/df.shape[0]*100

vehicle_type                0.000000
make                        0.000000
model                       0.000000
version                     0.158375
fuel                        3.184547
year                        0.000000
kms                         0.810922
power                       0.283672
doors                     100.000000
shift                       1.020418
color                     100.000000
photos                      0.000000
description                44.118561
price                       0.000000
currency                    0.000000
location                    0.000000
publish_date                0.000000
update_date                 0.000000
dealer_name                 0.092219
dealer_description         18.388581
dealer_address              0.092219
dealer_zip_code             0.092219
dealer_city                 0.092219
dealer_country_code         0.000000
dealer_is_professional      0.000000
dealer_website             20.044505
dealer_registered_at        0.092219
date                        0.000000
dtype: float64

In [ ]:
#Drop nuls de verion,

In [14]:
# Ajustar las opciones de visualización de pandas
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)
 
# Mostrar el resultado completo
df[df['fuel'].isnull()][['make','model']].value_counts()

make           model
Toyota         C-HR                  489
Mazda          2                     128
Toyota         Corolla               118
CUPRA          Leon                  117
Lexus          UX                    110
Ford           Puma                  109
Lexus          ES                     98
Toyota         Yaris                  90
               Auris                  80
Fiat           500                    79
KIA            Niro                   79
Lexus          NX                     70
KIA            Ceed                   68
               Sportage               67
Hyundai        IONIQ                  65
Alfa Romeo     Tonale                 64
Honda          Insight                56
Renault        Arkana                 50
BMW            X7                     50
Lexus          RC                     48
Citroen        C5 X                   44
               C3                     41
Lexus          RX                     37
BMW            Serie 4                36
Hyundai        Tucson                 29
SEAT           Leon                   26
Lexus          IS                     23
Dacia          Jogger                 22
BMW            i3                     18
Lexus          GS                     17
Abarth         695                    16
Bentley        Flying Spur            16
Daihatsu       Terios                 15
Nissan         Qashqai                15
Renault        Twizy                  14
Fiat           Panda                  13
Honda          Jazz                   12
Ford           Tourneo Custom         12
Mazda          CX-30                  12
Mitsubishi     Outlander              11
Volkswagen     Golf                   11
Ford           Fiesta                 10
Land Rover     Range Rover Evoque     10
Audi           RS6                     9
Citroen        Berlingo                9
Volkswagen     Caddy                   9
Ford           Kuga                    9
Toyota         Camry                   9
Porsche        Panamera                9
Toyota         iQ                      9
Mazda          3                       9
Citroen        C2                      8
Abarth         Punto Evo               8
Audi           Q8                      8
               RS3                     8
BMW            Serie 8                 8
Infiniti       FX37                    8
Mercedes-Benz  Classe X                8
Nissan         Townstar                8
Mercedes-Benz  GLE Coupé               8
Volvo          V90                     8
Subaru         XV                      8
Skoda          Octavia                 8
Saab           9-5                     8
Renault        Clio                    8
Porsche        718 Cayman              8
               Boxster                 8
Jaguar         XJ                      8
               S-Type                  8
Ford           Mondeo Vignale          8
Fiat           Barchetta               8
Ferrari        LaFerrari               8
Dodge          Caliber                 8
Hyundai        Accent                  8
BMW            X5 M                    8
Cadillac       Seville                 8
               CTS                     8
Citroen        Xsara                   8
Corvette       Corvette                8
Chevrolet      Tahoe                   8
BMW            X6 M                    8
Hyundai        Kona                    8
               i20                     8
Subaru         Legacy                  7
Nissan         Pixo                    7
KIA            Stonic                  7
Hyundai        Elantra                 7
Skoda          Kamiq                   7
MG             ZS                      7
Chevrolet      Camaro                  7
Mitsubishi     3000 GT                 7
Peugeot        406                     7
Hummer         H2                      7
KIA            XCeed                   7
MINI           Roadster                7
Lotus          Esprit                  7
Mercedes-Benz  Clase G                 6
Volvo          XC60                    6
Porsche        718 Boxster             6
Opel           Tigra                   6
Tata           Indigo                  6
Peugeot        308                     6
Abarth         595                     6
Chevrolet      Cruze                   6
Citroen        C4                      5
Volkswagen     Touareg                 5
Audi           A3                      5
Abarth         500                     5
Chevrolet      Kalos                   5
BMW            X6                      5
Mercedes-Benz  SLK                     5
Volkswagen     Golf Plus               5
               Multivan                5
Lamborghini    Huracán                 5
Hyundai        Getz                    5
KIA            Rio                     5
BMW            Serie 6                 4
Ford           C-MAX                   4
Volkswagen     Taigo                   4
Rover          45                      4
Porsche        911                     4
Peugeot        3008                    4
               307                     4
Opel           Corsa                   4
Mercedes-Benz  Viano                   4
BMW            Serie 5                 4
Cadillac       STS                     4
DS             4                       4
BMW            Serie 3                 4
Porsche        Cayman                  4
Mercedes-Benz  Clase CLS               4
               Clase A                 4
Porsche        Cayenne                 3
Peugeot        207                     3
Toyota         Yaris Cross             3
Mitsubishi     Eclipse Cross           3
Land Rover     Range Rover Sport       3
Opel           Astra                   3
Audi           RS4                     3
BMW            X5                      3
Dacia          Duster                  3
Audi           Q7                      2
Citroen        Nemo                    2
BMW            X1                      2
               Serie 7                 2
Volvo          XC40                    2
Mercedes-Benz  Clase E                 2
Citroen        C5                      2
DS             7 CROSSBACK             2
Citroen        C3 Picasso              2
Hyundai        Coupe                   2
Lancia         Musa                    2
Jeep           Wrangler                2
Honda          CR-V                    2
Ford           Fusion                  2
               Focus                   2
Honda          CR-Z                    2
Dacia          Lodgy                   2
Hyundai        Atos                    2
               i10                     2
Lexus          CT                      2
Volkswagen     T-Cross                 2
Toyota         MR2                     2
Volkswagen     Golf Sportsvan          2
               Polo                    2
Nissan         NV400                   2
Mercedes-Benz  GLA                     2
Nissan         Navara                  2
Renault        Laguna                  2
Citroen        C4 Picasso              1
Chevrolet      Aveo                    1
Hyundai        Matrix                  1
Mercedes-Benz  Vito                    1
Peugeot        107                     1
Suzuki         Vitara                  1
SEAT           Ibiza                   1
Renault        Twingo                  1
Name: count, dtype: int64