In [106]:
import pandas as pd

## Load Data

In [107]:
df = pd.read_csv(r'C:\Users\Germán\Github\Proyecto2\data\vehiculos-de-segunda-mano-sample.csv')

In [108]:
df.head(1)

,vehicle_type,make,model,version,fuel,year,kms,power,doors,shift,color,photos,description,price,currency,location,publish_date,update_date,dealer_name,dealer_description,dealer_address,dealer_zip_code,dealer_city,dealer_country_code,dealer_is_professional,dealer_website,dealer_registered_at,date
0,car,Opel,Crossland,1.2 GAS 110 GS Line 5p S/S,Gasolina,2022,5.0,110.0,NaN,manual,NaN,10,"OFERTA EXCLUSIVA DE INTERNET \nNuevo Opel Crossland GSLINE 1.2 Turbo Gasolina 110cv manual de 6 velocidades.\nVehículo dotado del siguiente equipamiento:\nNUEVO A ESTRENAR, MATRICULADO EN FECHA 31.08.2022 \nFAROS ECOLED\nNAVEGADOR 5.0 INTELILINK\nPILOTOS TRASEROS LED\nCÁMARA DELANTERA (Alerta de Cambio Involuntario de Carril)\nPANTALLA INTELILLINK R4.0 7” CON APPLE CAR PLAY & ANDROID AUTO\nFRENOS DE DISCO DELANTEROS Y TRASEROS \nLLANTAS SPORT 17” COLO NEGRO DIAMANTE\nSENSOR APARCAMIENTO TRASERO\nKIT ANTIPINCHAZOS\nANCLAJES ISOFIX PLAZAS TRASERAS\nASIENTO AGR (ASIENTOS ERGONÓMICO)\nELEVALUNAS TRASEROS Y DELANTEROS ELÉCTRICOS\nCLIMATIZADOR DIGITAL BIZONA\nCONS",22900,EUR,Pineda de Mar,2023-02-04,2023-02-04,Sergio Y.,NaN,"2, Carrer de Jacint Benavente, Poblenou, Pineda de Mar, Maresme, Barcelona, Catalunya, 08397, España",8397.0,Pineda de Mar,ES,True,www.cocheauto.com,2017-01-18,2023-02-06

## Duplicados

In [109]:
# Eliminamos duplicados 
df = df.drop_duplicates()

In [110]:
print(df.shape)

(99763, 28)

## Nulls

In [111]:
#Mostramos los nulos en porcetaje con relacion al total por cada fila 
df.isnull().sum()/df.shape[0]*100

vehicle_type                0.000000
make                        0.000000
model                       0.000000
version                     0.158375
fuel                        3.184547
year                        0.000000
kms                         0.810922
power                       0.283672
doors                     100.000000
shift                       1.020418
color                     100.000000
photos                      0.000000
description                44.118561
price                       0.000000
currency                    0.000000
location                    0.000000
publish_date                0.000000
update_date                 0.000000
dealer_name                 0.092219
dealer_description         18.388581
dealer_address              0.092219
dealer_zip_code             0.092219
dealer_city                 0.092219
dealer_country_code         0.000000
dealer_is_professional      0.000000
dealer_website             20.044505
dealer_registered_at        0.092219
date                        0.000000
dtype: float64

In [112]:
#Drop nuls de "verion",

### Fuel nulls

In [119]:
# Ajustar las opciones de visualización de pandas
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)
 
# Mostrar el resultado completo
df[df['fuel'].isnull()][['make','model']].value_counts()

make           model
Toyota         C-HR                  489
Mazda          2                     128
Toyota         Corolla               118
CUPRA          Leon                  117
Lexus          UX                    110
Ford           Puma                  109
Lexus          ES                     98
Toyota         Yaris                  90
               Auris                  80
Fiat           500                    79
KIA            Niro                   79
Lexus          NX                     70
KIA            Ceed                   68
               Sportage               67
Hyundai        IONIQ                  65
Alfa Romeo     Tonale                 64
Honda          Insight                56
Renault        Arkana                 50
BMW            X7                     50
Lexus          RC                     48
Citroen        C5 X                   44
               C3                     41
Lexus          RX                     37
BMW            Serie 4                36
Hyundai        Tucson                 29
SEAT           Leon                   26
Lexus          IS                     23
Dacia          Jogger                 22
BMW            i3                     18
Lexus          GS                     17
Abarth         695                    16
Bentley        Flying Spur            16
Daihatsu       Terios                 15
Nissan         Qashqai                15
Renault        Twizy                  14
Fiat           Panda                  13
Honda          Jazz                   12
Ford           Tourneo Custom         12
Mazda          CX-30                  12
Mitsubishi     Outlander              11
Volkswagen     Golf                   11
Ford           Fiesta                 10
Land Rover     Range Rover Evoque     10
Audi           RS6                     9
Citroen        Berlingo                9
Volkswagen     Caddy                   9
Ford           Kuga                    9
Toyota         Camry                   9
Porsche        Panamera                9
Toyota         iQ                      9
Mazda          3                       9
Citroen        C2                      8
Abarth         Punto Evo               8
Audi           Q8                      8
               RS3                     8
BMW            Serie 8                 8
Infiniti       FX37                    8
Mercedes-Benz  Classe X                8
Nissan         Townstar                8
Mercedes-Benz  GLE Coupé               8
Volvo          V90                     8
Subaru         XV                      8
Skoda          Octavia                 8
Saab           9-5                     8
Renault        Clio                    8
Porsche        718 Cayman              8
               Boxster                 8
Jaguar         XJ                      8
               S-Type                  8
Ford           Mondeo Vignale          8
Fiat           Barchetta               8
Ferrari        LaFerrari               8
Dodge          Caliber                 8
Hyundai        Accent                  8
BMW            X5 M                    8
Cadillac       Seville                 8
               CTS                     8
Citroen        Xsara                   8
Corvette       Corvette                8
Chevrolet      Tahoe                   8
BMW            X6 M                    8
Hyundai        Kona                    8
               i20                     8
Subaru         Legacy                  7
Nissan         Pixo                    7
KIA            Stonic                  7
Hyundai        Elantra                 7
Skoda          Kamiq                   7
MG             ZS                      7
Chevrolet      Camaro                  7
Mitsubishi     3000 GT                 7
Peugeot        406                     7
Hummer         H2                      7
KIA            XCeed                   7
MINI           Roadster                7
Lotus          Esprit                  7
Mercedes-Benz  Clase G                 6
Volvo          XC60                    6
Porsche        718 Boxster             6
Opel           Tigra                   6
Tata           Indigo                  6
Peugeot        308                     6
Abarth         595                     6
Chevrolet      Cruze                   6
Citroen        C4                      5
Volkswagen     Touareg                 5
Audi           A3                      5
Abarth         500                     5
Chevrolet      Kalos                   5
BMW            X6                      5
Mercedes-Benz  SLK                     5
Volkswagen     Golf Plus               5
               Multivan                5
Lamborghini    Huracán                 5
Hyundai        Getz                    5
KIA            Rio                     5
BMW            Serie 6                 4
Ford           C-MAX                   4
Volkswagen     Taigo                   4
Rover          45                      4
Porsche        911                     4
Peugeot        3008                    4
               307                     4
Opel           Corsa                   4
Mercedes-Benz  Viano                   4
BMW            Serie 5                 4
Cadillac       STS                     4
DS             4                       4
BMW            Serie 3                 4
Porsche        Cayman                  4
Mercedes-Benz  Clase CLS               4
               Clase A                 4
Porsche        Cayenne                 3
Peugeot        207                     3
Toyota         Yaris Cross             3
Mitsubishi     Eclipse Cross           3
Land Rover     Range Rover Sport       3
Opel           Astra                   3
Audi           RS4                     3
BMW            X5                      3
Dacia          Duster                  3
Audi           Q7                      2
Citroen        Nemo                    2
BMW            X1                      2
               Serie 7                 2
Volvo          XC40                    2
Mercedes-Benz  Clase E                 2
Citroen        C5                      2
DS             7 CROSSBACK             2
Citroen        C3 Picasso              2
Hyundai        Coupe                   2
Lancia         Musa                    2
Jeep           Wrangler                2
Honda          CR-V                    2
Ford           Fusion                  2
               Focus                   2
Honda          CR-Z                    2
Dacia          Lodgy                   2
Hyundai        Atos                    2
               i10                     2
Lexus          CT                      2
Volkswagen     T-Cross                 2
Toyota         MR2                     2
Volkswagen     Golf Sportsvan          2
               Polo                    2
Nissan         NV400                   2
Mercedes-Benz  GLA                     2
Nissan         Navara                  2
Renault        Laguna                  2
Citroen        C4 Picasso              1
Chevrolet      Aveo                    1
Hyundai        Matrix                  1
Mercedes-Benz  Vito                    1
Peugeot        107                     1
Suzuki         Vitara                  1
SEAT           Ibiza                   1
Renault        Twingo                  1
Name: count, dtype: int64

In [97]:
#Del total de valores de toyotas c-hr cuantos son nulos
df[(df['make']=='Toyota') & (df['model']=='C-HR')]['fuel'].isnull().sum()/df[(df['make']=='Toyota') & (df['model']=='C-HR')].shape[0]*100

np.float64(72.98507462686568)

In [ ]:
#Filas Toyoa c-hr en total incluyendo los nulos
df[(df['make']=='Toyota') & (df['model']=='C-HR')].shape[0]

670

In [103]:
489 * 100 / 670

72.98507462686567

In [93]:
df[(df['make'] == 'Toyota') & (df['model'] == 'C-HR')]['fuel'].value_counts()

fuel
Eléctrico    143
Gasolina      36
Otros          2
Name: count, dtype: int64

In [79]:
#mostrar cuantos valores nulos de los de toyota C-HR  
df[(df['make'] == 'Toyota') & (df['model'] == 'C-HR')]['fuel'].isnull().sum()

np.int64(489)

In [80]:
# Calcular el valor más frecuente de fuel para cada modelo de coche
mode_fuel_by_model = df.groupby('model')['fuel'].agg(lambda x: x.mode()[0] if not x.mode().empty else None)

# Función para rellenar los valores nulos
def fill_fuel(row):
    if pd.isnull(row['fuel']):
        return mode_fuel_by_model[row['model']]
    return row['fuel']

# Aplicar la función para rellenar los valores nulos
df['fuel'] = df.apply(fill_fuel, axis=1)

In [82]:
# Mostrar que gasoina usa la marca toyota modelo C-HR
df[(df['make'] == 'Toyota') & (df['model'] == 'C-HR')]['fuel'].value_counts()

fuel
Eléctrico    632
Gasolina      36
Otros          2
Name: count, dtype: int64

In [61]:
df[(df['make'] == 'Toyota') & (df['model'] == 'C-HR')]['fuel'].isnull().sum()

np.int64(0)

In [62]:
# Nulos en fuel 
df['fuel'].isnull().sum()

np.int64(33)

In [44]:
#Agrupar fuel y mostrar los modelos y marca de cada tipo de fuel
df.groupby('fuel')[['make','model']].agg(lambda x: x.unique())

,make,model
fuel,,
Diésel,"[Opel, SsangYong, MINI, Nissan, KIA, Lexus, Mitsubishi, Renault, SEAT, Jeep, Skoda, Saab, Volvo, Rover, Renault Trucks, Tata, Maserati, Dacia, Volkswagen, Infiniti, Galloper, Toyota, Land Rover, Lancia, Jaguar, Iveco, Citroen, Chevrolet, Audi, Alfa Romeo, DS, Honda, BMW, Peugeot, Suzuki, Dodge, Hyundai, Mercedes-Benz, Fiat, Ford, Mazda, Subaru, Porsche, Chrysler, Bentley, MG, Isuzu, Mahindra, Santana, VAZ, CUPRA]","[Crossland, Combo, Movano, Vivaro, Antara, Zafira Tourer, Combo Life, Kyron, Zafira, XLV, Insignia, Tivoli, Korando, Paceman, Primastar, Soul, Ceed, Carens, Sorento, Stonic, Sportage, IS, Outlander, Lancer, L 200, Primera, NV300, NV400, Pulsar, X-Trail, Navara, NV250, Terrano, NV200, Cabstar, Juke, Note, Pathfinder, Atleon, Scenic, Koleos, Captur, Kangoo, Master, Grand Scenic, Kadjar, Trafic, Talisman, Grand Espace, Megane, Fluence, Modus, Laguna, Clio, Tarraco, Cherokee, Leon, Ibiza, Inca, Exeo, Yeti, Octavia, Compass, Renegade, Astra, Tigra, Frontera, Crossland X, ProCeed, 9-5, 9-3, S60, XC40, V90, XC70, XC90, XC60, S80, V60, C30, C70, 75, Maxity, Grand Safari, Meriva, Mokka X, Ghibli, Quattroporte, Dokker, Wrangler, Patriot, Twingo, Express Van, Grand Kangoo, Espace, Almera, Trade, Murano, Vanette, NT400 Cabstar, ...]"
Eléctrico,"[Opel, Tesla, Lexus, Mitsubishi, Nissan, Renault, Volvo, KIA, Toyota, DS, Alfa Romeo, Audi, Citroen, CUPRA, Honda, Hyundai, BMW, Ford, Volkswagen, Peugeot, Porsche, Skoda, Mercedes-Benz, Fiat, Mazda, Land Rover, Infiniti, Jaguar, Maserati, Dacia, SEAT, MG]","[Corsa-e, Model 3, Ampera, Model X, Model Y, NX, RX, GS, IS, Outlander, NV200, Leaf, Arkana, C40, Model S, ZOE, Twizy, UX 300e, UX, CT, ES, LS, LC, Niro, Soul, Corolla, C-HR, Yaris, Prius, 3 CROSSBACK, Tonale, Q4, e-tron GT, C5 X, ë-C4, Born, CR-Z, IONIQ, IONIQ 5, i3, iX, Mustang Mach-E, Mondeo, Explorer, ID.3, e-208, e-2008, Cayenne, ID.4, Taycan, e-tron, Mokka-e, Enyaq iV, Evalia, RC, e-Niro, Camry, AMI, C-Zero, Insight, eVito, iX3, i8, e-Doblò, MX-30, CX-60, Range Rover Sport, Focus, Q50, Serie 7, Auris, 500, Kona, Range Rover Velar, XCeed, Optima, Mokka, Mondeo Vignale, I-Pace, XC90, EQV, e-Rifter, ID.5, ID. Buzz, X6, ë-Berlingo, XC40, DS5, CR-V, Clase A, E-Pace, Ghibli, Eclipse Cross, V90, Yaris Cross, Spring, Combo-e Life, Mii electric, EV6, 4, ...]"
Gasolina,"[Opel, Rover, SsangYong, KIA, Lexus, Mitsubishi, Nissan, Renault, SEAT, Skoda, Jeep, Abarth, Saab, MINI, Hummer, Jaguar, Maserati, Dacia, Infiniti, Toyota, Land Rover, Daihatsu, Daewoo, Citroen, Ferrari, Chevrolet, Cadillac, Audi, Alfa Romeo, DS, Volvo, BMW, Mazda, Alpine, Chrysler, Tata, Fiat, Peugeot, Suzuki, Aston Martin, Bentley, CUPRA, Honda, Hyundai, Mercedes-Benz, Ford, Porsche, Subaru, Volkswagen, MG, Corvette, McLaren, Dodge, Lamborghini, Lada, Lancia, KTM, Lotus]","[Crossland, Cabrio, Crossland X, Corsa-e, KARL, Zafira Tourer, Mokka, Corsa, Ampera, 45, XLV, Omega, Tivoli, Korando, Ceed, Stonic, Sportage, NX, IS, Eclipse Cross, Outlander, Space Star, Primera, Pulsar, X-Trail, Terrano II, Juke, Note, Townstar, Micra, Scenic, Captur, Arkana, Grand Scenic, Kadjar, Talisman, Grand Espace, Twingo, Clio, Tarraco, Toledo, Leon, Ibiza, Exeo, Yeti, Compass, Renegade, Astra, ProCeed, Combo Life, 595, 500, 9-5, Roadster, H2, ADAM, Daimler, Mokka X, Levante, Coupe, GranTurismo, Ghibli, Quattroporte, Grecale, Dokker, Kamiq, Express Van, Modus, Fluence, Pixo, 370Z, Space Gear, GS, LS, Stinger, Rio, Venga, Opirus, XCeed, G37, MR2, GR Supra, Yaris, iQ, Avensis, Aygo X, Aygo, Verso, Land Cruiser 200, Range Rover Velar, S-Type, Terios, Tacuma, Nubira, Lacetti, Grand C4 SpaceTourer, C3 Picasso, 458, Seville, Escalade, ...]"
Otros,"[Opel, Dacia, SEAT, Lexus, Land Rover, Toyota, Mercedes-Benz, Mazda, Skoda, Jeep, Fiat, Subaru, DS, SsangYong, Chevrolet, Citroen, Porsche, Renault, BMW, Hyundai, KIA, CUPRA, Ford]","[Corsa, Dokker, Leon, UX, ES, Defender, Jogger, Lodgy, Highlander, GLC Coupé, MX-30, Kamiq, Wrangler, 500X, XV, Logan, Sandero, 7 CROSSBACK, Tivoli, Ibiza, HHR, C5 X, Ducato, Tipo, Panamera, RX, CT, Grandland, Austral, LS, i3, IONIQ, Clase CLS, NX, Sportage, 500, Stonic, Captur, Yaris, C-HR, Clio, Focus, C3, Berlingo]"

In [ ]:
df.head(1)

In [64]:
df[(df['make'] == 'Infiniti') & (df['model'] == 'FX37')]['fuel'].value_counts()

Series([], Name: count, dtype: int64)

In [66]:
# Ajustar las opciones de visualización de pandas
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)
 
# Mostrar el resultado completo
df[df['fuel'].isnull()][['make','model']].value_counts()

make      model
Ferrari   LaFerrari    8
Infiniti  FX37         8
Lotus     Esprit       7
Tata      Indigo       6
Cadillac  STS          4
Name: count, dtype: int64